<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pets/new">New Pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pets/<%= @pet.id %>/edit">Edit Pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pets/<%= @pet.id %>" data-turbo-method="delete">Remove Pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pets">Back to all Pets</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1>Pet info</h1>
<h2><%= @pet.name %></h2>
<p>Breed: <%= @pet.breed %></p>
<img src=<%= @pet.image %>/>
<p></p>
